body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:black;
  overflow-x: hidden;
  }

.band-large{
  display: none;
  }

.fixed-top{
    background-image: url(assets/tribalportada.jpg);
  }
  
.navbar-toggler{
    border-color: transparent;
    background-image: url(assets/tribalportada.jpg);
    border-radius: 5px;
  }
  
.navbar-toggler:hover {
    background-color: #0f9002;
  }
  
.navbar-toggler-icon {
    background-image: none;
  }
  
.navbar-toggler-icon::before {
    content: '\2630';
    font-size: 1.5rem;
    color: #fff;
  }

.nav-item a {
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    transition: transform 0.3s ease;
  }

.nav-item a:hover{
    transform: scale(1.2);
    color: #0f9002;
  }

.icons a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
  }

.icons a:hover{
    transform: scale(1.2);
    color: #0f9002;
  }

.carousel-inner .carousel-item{
    height: 100vh;
    object-fit: cover;
    position: relative;
  }

.carousel-inner .carousel-item img {
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.05);
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.502);
    z-index: 1;
    font-family: "SegundaFuente";
  }

.overlay h1{
    font-size: 3rem;
    color: #e3e3e3;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 2rem;
  }
.overlay h2{
    text-align: center;
    color: #e3e3e3;
    font-family: "Bebas Neue", sans-serif;
  }
#new-section, #newvideo-section{
  padding-top: 0.3rem; /* Espaciado superior */
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
  display: flex; /* Usamos flexbox para alinear elementos */
  align-items: center; /* Centra verticalmente */
  font-family: "Bebas Neue", sans-serif;
  background-image: url(assets/fondonew.jpg);
}

#new-section h2, #newvideo-section h2, #music-section h2{
  font-size: 4rem;
  color:#e3e3e3;
}

#new-section p, #newvideo-section p, #music-section p{
  font-size: 1.5rem;
  color:#e3e3e3;
}

#new-section , #music-section{     
  padding: 4rem 0 2rem 0;
}

/* Estilo inicial para los elementos */
#new-section h2, #new-section  p, #new-section img {
  opacity: 0;
  transform: translateY(20px); /* Desplazamiento inicial hacia abajo */
  transition: opacity 0.6s ease, transform 0.8s ease;
}

/* Clase para activar el efecto de aparición */
#new-section h2.show, #new-section  p.show, #new-section img.show {
  opacity: 1;
  transform: translateY(0); /* Regresa a la posición original */
}

#newvideo-section h2, #newvideo-section  p, #newvideo-section img {
  opacity: 0;
  transform: translateY(20px); /* Desplazamiento inicial hacia abajo */
  transition: opacity 0.6s ease, transform 0.8s ease;
}

/* Clase para activar el efecto de aparición */
#newvideo-section h2.show, #newvideo-section  p.show, #newvideo-section img.show {
  opacity: 1;
  transform: translateY(0); /* Regresa a la posición original */
}


.album {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}

.album img {
  width: 100%;
  transition: transform 0.3s ease;
}

/* Estilos del nombre del álbum */
.album-name {
  bottom: 0;
  left: 0;
  width: 100%;
  color: #e3e3e3;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
}

/* Efecto al pasar el cursor */
.album:hover img {
  transform: scale(1.1);
}

#video-section {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna para que el contenido se apile verticalmente */
  justify-content: center;
  align-items: center;
  min-height: 700px;
  padding-top: 4rem;
  font-family: "Bebas Neue", sans-serif;
  background-image: url(assets/tribalvivo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #e3e3e3;
  background-color: rgba(17, 94, 15, 0.668); /* Cambia el color y la opacidad a tu gusto */
  background-blend-mode: multiply;
  position: relative; /* Para posicionar el enlace de forma absoluta dentro de la sección */
}

#video-section h2{
  margin-bottom: 50px;
  font-size: 3rem;
}

.view-more-link {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  color: #e3e3e3;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.view-more-link:hover {
  transform: scale(1.1);
  color: #0f9002;
}


.img-cover {
  width: 100%;              
  height: 200px;            
  object-fit: cover;         
}

.social-icons i{
  transition: transform 0.3s ease;
}

.social-icons i:hover{
  transform: scale(1.5);
  color: #0f9002;
}

.footer {
  background-image: url(assets/tribalportada.jpg);
  color: #fff; /* Texto blanco */
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.copyright {
  flex: 1;
  text-align: left;
  font-size: 14px;
  margin-right: 2px;
}

.footer-content .icons {
  display: flex;
  gap: 15px; /* Espacio entre íconos */
  margin-left: 1.5rem;
}
@media (min-width: 770px) {

  .icons{
    margin-left: 1.5rem;
  }
  
  .band-small{
      display: none;
    }

  .band-large {
      display: flex;
      flex-wrap: wrap;
      height: 100vh; /* Contenedor de altura completa */
      filter: grayscale(0.5);
    }
    
  .band-member {
      position: relative;
      height: 100vh; /* Hace que cada imagen ocupe el 100% del alto del viewport */
      transition: transform 0.3s ease;
      cursor: pointer;
      overflow: hidden; /* Asegura que la imagen no se desborde */
    }
    
  .band-member img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    }
    
  .band-member:hover {
      transform: scale(1.1); /* Ajusta el tamaño según prefieras */
    }
    
  .member-info {
      position: absolute;
      bottom: 160px;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s ease;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.2rem;
      background-color: rgba(17, 94, 15, 0.668); /* Cambia el color y la opacidad a tu gusto */
    }
    
  .band-member:hover .member-info {
      visibility: visible;
      opacity: 1;
    }
    
  .large-screen {
      flex: 1 1 25%; /* Ajusta el valor según el número de imágenes */
      max-width: 25%; /* Ajusta el valor según el número de imágenes */
    }

    .album-name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(17, 94, 15, 0.668);
      color: #e3e3e3;
      text-align: center;
      padding: 10px;
      opacity: 0;
      transition: opacity 0.3s ease;
      font-size: 16px;
      font-family: "Bebas Neue", sans-serif;
    }
    
    /* Efecto al pasar el cursor */
    .album:hover img {
      transform: scale(1.1);
    }
    
    .album:hover .album-name {
      opacity: 1;
    }

    #music-section{     
      padding: 4rem
    }

    .view-more-link{
      bottom: 3rem;
      right: 3rem;
    }
  
  }

